    body{
background-color: black;


    }

        .topico{
            background-color: blueviolet;
        }

            .texto{
                
                background-color: blue;
            }